body {
  font-family: "Instrument Sans", sans-serif;
}

.light-green {
  background-color: #f0fff0;
}

.active-tab {
  background-color: #84cc16;
  /* green */
  color: white;
  position: relative;
}

.active-tab::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 15px;
  border-style: solid;
  z-index: 999;
  border-color: #84cc16 transparent transparent transparent;
}

.activeTabBtn {
  color: #84cc16;
  border-bottom: 2px solid #84cc16;
  position: relative;

}

.activeTabBtn::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  z-index: 99;
  border-color: #84cc16 transparent transparent transparent;
}